# Example environment file for game-history-service

# The port the game-history-service will run on
PORT=3005

# Your MongoDB connection string
MONGO_URL=mongodb+srv://user:Kingrohit12@chess-app.0inbyui.mongodb.net/?appName=chess-app

