# The port for the WebSocket server to listen on
PORT=8080

# URL for connecting to your Redis instance
REDIS_URL="redis://localhost:6379"

# The secret key used to sign and verify JWTs (must match the one in user-service)
JWT_SECRET="YOUR_SUPER_SECRET_KEY"

